*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    line-height: 1.6;
    background-color: aliceblue;
}

header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top:0;
    
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo{
    display: flex;
    align-items: center;

}
.logo-icon{
    width: auto;
    height:40px;
}
nav{
    padding: 50px;
    display: flex;
    align-items: center;
    margin-left: 90%;
}
h2{
    font-weight: bold;
    color: rgb(66,63,141);
    text-align: center;
}
.nav-menu{
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.nav-menu li{
    margin-right: 20px;
    color: rgb(66,63,141);
    font-weight: bold;
}
.pre{
    color:rgb(66,63,141) ;
}
.sec{
    color: rgb(237,7,139);
}
h1{
    text-align: center;
    color: rgb(66,63,141);

}
p{
    text-align: center;
    color: rgb(66,63,141);
}

.menu-button{
    width:100px;
    padding: 10px 20px;
    color:white;
    font-weight: bold;
    background-color: rgb(18,217,223);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
    height:500px;
    max-width: 1200px;
    margin: 0;

}
.title{
    text-align: left;
}
.card{
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    padding: 20px;
    transition: transform 0.3s;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
h6{
    text-align: left;
}
.crad-image{
    width: 100%;
    height: 200px;
}
.format{
    color: pink;
    font-weight: bold;
    text-align: left;
}
.lable{
    border-radius: 8px;
    padding: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
}
.logox-icon{
    width: 20px;
    height: 20px;
}
main{
    padding: 150px 20px;
}